 $path: "../../assets/fonts/";

 $lato: "lato-regular";
 $p052: "p052-bold";
 $roboto: "roboto-regular";

 @font-face {
   font-family: "lato";
   src: url("#{$path}#{$lato}.woff2") format("woff2"),
     url("#{$path}#{$lato}.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
 }

 @font-face {
   font-family: "p052";
   src: url("#{$path}#{$p052}.woff2") format("woff2"),
     url("#{$path}#{$p052}.otf") format("truetype");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
 }

 @font-face {
   font-family: "roboto";
   src: url("#{$path}#{$roboto}.woff2") format("woff2"),
   url("#{$path}#{$roboto}.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
 }

//"lato", Helvetica, Arial, sans-serif;
